// Mixins in here
.flex-container(@align-items: initial; @justify-content: initial) {
    display: flex;
    align-items: @align-items;
    justify-content: @justify-content;
}

.max-container() {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.btn() {
    background: @button-bg;
    text-align: center;
    padding: 1.5rem 1.5rem;
    border-radius: 15px;
    font-size: @body-fontSize;
    max-width: 200px;
    color: @main-bg;

    &:hover {
        background: lighten(@button-bg, 20%);
    }
}